.home{
    background-color: rgb(37, 33, 33);
    min-height: 90vh;
}
.home__info{
    color: white;
    letter-spacing: 1.4px;
    line-height: 1.7;
    font-family: 'Oswald';
    text-align: center;
    h2{
        font-weight: 600;
        font-size: 20px;
        margin-bottom: 5px;
    }

}